<!DOCTYPE html>
<html>

<head>
    <title>Tugas 12</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="app">
        <form @submit.prevent="submitForm($event)">
            <p v-if="errors.length">
                <b>Please fill the blanks correctly : </b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
            </p>
            <label>Name</label>
            <input type="text" name="name" :disabled="buttonStatus == 'upload'" placeholder="Your name.." ref="name"
                v-model="name">
            <br>

            <label>Address</label>
            <input type="text" name="address" :disabled="buttonStatus == 'upload'" placeholder="Your address.."
                ref="address" v-model="address">
            <br>

            <label>Phone</label>
            <input type="text" name="no_hp" :disabled="buttonStatus == 'upload'" placeholder="Your phone number ..."
                ref="no_hp" v-model="no_hp">
            <div v-if="buttonStatus === 'submit'">
                <input type="submit" value="Submit">
            </div>
            <div v-else-if="buttonStatus === 'edit'">
                <input type="button" value="Edit" @click="editMember(idEditMember)">
                <input type="button" value="Cancel" @click="clearForm()" style="margin-top: 10px;">
            </div>
            <div v-else-if="buttonStatus === 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="Upload" @click="submitPhoto(idUploadMember)" style="margin-top: 10px;">
                <input type="button" value="Cancel" @click="clearForm()" style="margin-top: 10px;">
            </div>
        </form>

        <br><br>
        <div class="container">
            <table>
                <th style="width: 200px">Name</th>
                <th style="width: 200px">Address</th>
                <th style="width: 200px">Phone</th>
                <th style="width: 200px">Photo</th>
                <th style="width: 200px">Action</th>
            </table>
            <table-member v-for="data in dataMember" :key="data.id" :data="data" @edit-btn="edit" @remove-btn="remove"
                @upload-foto-btn="uploadFoto"> </table-member>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var tableMember = {
            props: ['data'],
            template: `<table><tr>
                            <td style="width: 200px">{{ data.name }}</td>
                            <td style="width: 200px">{{ data.address }}</td>
                            <td style="width: 200px">{{ data.no_hp }}</td>
                            <td style="width: 200px"> <img width=100
                                    :src="data.photo_profile ? 'http://demo-api-vue.sanbercloud.com/' + data.photo_profile : 'https://dummyimage.com/16:9x1080'"
                                    alt=""></td>
                            <td>
                                <button @click="$emit('edit-btn', data)">Edit</button>
                                <button @click="$emit('remove-btn', data.id)">Hapus</button>
                                <button @click="$emit('upload-foto-btn', data)">Upload Foto</button>
                            </td>
                        </tr></table>`
        }

        var vm = new Vue({
            el: '#app',
            components: {
                'table-member': tableMember
            },
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                dataMember: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com/',
                buttonStatus: 'submit',
                idEditMember: null,
                idUploadMember: null,
            },

            methods: {

                validationForm: function () {
                    this.errors = []

                    if (this.name.length < 2) {
                        this.errors.push('Masukkan nama anda');
                        this.$refs.nama.focus();
                    }
                    if (this.address.length < 2) {
                        this.errors.push('Masukkan alamat anda');
                        this.$refs.address.focus();
                    }
                    if (this.no_hp.length < 2) {
                        this.errors.push('Masukkan nomor telepon anda');
                        this.$refs.no_hp.focus();
                    }
                },

                clearForm: function () {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit',
                        this.idEditMember = null,
                        this.idUploadMember = null
                },

                submitForm: function () {
                    this.validationForm()

                    if (this.errors.length === 0) {

                        let formData = new FormData()

                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                console.log(response)
                                this.clearForm()
                                this.getData()
                                alert(response.data.message)
                            })
                            .catch((error) => {

                            })
                    }
                },

                getData: function () {

                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                        .then((response) => {
                            this.dataMember = response.data.members
                            console.log(response.data)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                edit: function (data) {
                    this.name = data.name
                    this.address = data.address
                    this.no_hp = data.no_hp
                    this.buttonStatus = 'edit'
                    this.idEditMember = data.id
                },

                editMember: function (id) {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()

                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        let config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: { _method: 'PUT' },
                            data: formData

                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getData()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                remove: function (id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method: 'DELETE' },
                    }

                    axios(config)
                        .then((response) => {
                            this.getData();
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                uploadFoto: function (data) {
                    this.name = data.name
                    this.address = data.address
                    this.no_hp = data.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = data.id
                },

                submitPhoto: function (id) {
                    let file = this.$refs.photo.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getData()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }
            },

            created() {
                this.getData()
            }

        })
    </script>
</body>

</html>