<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p v-for="(comment, idx) in comments">
            <button v-on:click="vote(idx, 'upvote')">+</button>
            <br>
            {{ comment.comment }} || {{ comment.date }} || Score : {{ comment.score }}
            <br>
            <button v-on:click="vote(idx, 'downvote')">-</button>
        </p>
        <textarea cols="40" rows="5" v-model="comment" @keyup.enter="postComment"></textarea>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                comments: [
                    {
                        comment: 'kometar 1 kometar 1 kometar 1',
                        date: '27-07-2020',
                        score: 0,
                        upvote: false,
                        downvote: false
                    },
                    {
                        comment: 'kometar 1 kometar 1 kometar 1',
                        date: '28-07-2020',
                        score: 5,
                        upvote: false,
                        downvote: false
                    },
                    {
                        comment: 'kometar 1 kometar 1 kometar 1',
                        date: '29-07-2020',
                        score: 5,
                        upvote: false,
                        downvote: false
                    }
                ],
                comment: ""
            },
            methods: {
                vote: function (idx, vote) {
                    if (vote == 'upvote') {
                        if (this.comments[idx].upvote) {
                            this.comments[idx].score--
                            this.comments[idx].downvote = false
                            this.comments[idx].upvote = false
                        } else {
                            this.comments[idx].score += this.comments[idx].downvote ? 2 : 1
                            this.comments[idx].downvote = false
                            this.comments[idx].upvote = true
                        }
                    } else if (vote == 'downvote') {
                        if (this.comments[idx].downvote) {
                            this.comments[idx].score++
                            this.comments[idx].downvote = false
                            this.comments[idx].upvote = false
                        } else {
                            this.comments[idx].score -= this.comments[idx].upvote ? 2 : 1
                            this.comments[idx].downvote = true
                            this.comments[idx].upvote = false
                        }
                    }
                },
                postComment: function () {
                    this.comments.push({
                        comment: this.comment,
                        date: "07-05-2021",
                        score: 0,
                        upvote: false,
                        downvote: false
                    })
                    this.comment = ""
                }
            }
        })
    </script>
</body>

</html>